<div class="container">
  <% @entries.each do |entry| %>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--10-col">
        <% if entry.ogp_image.present? %>
          <%= image_tag entry.ogp_image, style: "max-width: 80px;"%>
        <% end %>
        <%= link_to entry.title, feed_entry_path(entry.feed, entry) %> - <i> published <%= time_ago_in_words(entry.published) %> ago.</i>
      </div>
    </div>
  <% end %>
</div>
