<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Sportify2</title>
=======
    <title>Sportify</title>
>>>>>>> 2b677ee8f946ad217ccde43b6c42d06bb746cf3d
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
